@using ECommerceWeb.Client.Auth
@inject SweetAlertService Swal
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject ICarritoProxy CarritoProxy
@implements IDisposable

<header>
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
            <NavLink class="navbar-brand" href="/">
                <img src="assets/images/galaxy-training-logo.png" alt="Galaxy Store" />
            </NavLink>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarColor01" aria-controls="navbarColor01"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto mb-2">
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/">Inicio</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="categorias">Categorias</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="marcas">Marcas</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="productos">Productos</NavLink>
                    </li>
                    <AuthorizeView Roles="@Constantes.RolAdministrador">
                        <Authorized>
                            <li class="nav-item">
                                <NavLink class="nav-link" href="dashboard">Dashboard</NavLink>
                            </li>
                        </Authorized>
                    </AuthorizeView>
                </ul>
            </div>
            <a class="btn btn-outline-info ms-auto me-3" href="carrito">
                <i class="bi bi-cart me-1"></i>
                Carrito
                <span class="badge bg-info text-white rounded-pill">@MostrarCantidadCarrito()</span>
            </a>
            <div>
                <AuthorizeView>
                    <Authorized>
                        <NavLink class="navbar-text text-white">
                            <i class="bi bi-person-circle me-1"></i> @context.User.Identity!.Name
                        </NavLink>
                        <button class="btn btn-outline-info" @onclick="CerrarSesion"><i class="bi bi-door-open me-1"></i>Salir</button>
                    </Authorized>
                    <NotAuthorized>
                        <NavLink class="btn btn-outline-info" href="login"><i class="bi bi-box-arrow-in-right me-1"></i>Ingresar</NavLink>
                        <NavLink class="btn btn-outline-info" href="register"><i class="bi bi-person-add me-1"></i>Registrarse</NavLink>
                    </NotAuthorized>
                </AuthorizeView>
            </div>
        </div>
    </nav>
</header>

@code
{
    private async Task CerrarSesion()
    {
        var result = await Swal.FireAsync(new SweetAlertOptions
        {
            Title = "Desea salir?",
            Icon = SweetAlertIcon.Question,
            ShowCancelButton = true,
            ConfirmButtonText = "Sí",
            CancelButtonText = "No"
        });

        if (result.IsConfirmed)
        {
            var auth = (AuthenticationService)AuthenticationStateProvider;
            await auth.Authenticate(null);
            NavigationManager.NavigateTo("/", forceLoad: true);
        }
    }

    private int MostrarCantidadCarrito()
    {
        return CarritoProxy.CantidadProductos();
    }

    protected override void OnInitialized()
    {
        CarritoProxy.ActualizarVista += StateHasChanged;
    }

    public void Dispose()
    {
        CarritoProxy.ActualizarVista += StateHasChanged;
    }
}
